table{
    box-shadow: 0px 0px 10px 5px black;
    margin-left: 10%;
    border-collapse: collapse;
}

caption{
    margin-bottom: 20px;
    font-size: 30px;
}

td, th, tr{
    border: 1px solid black;
}

th, .horraire{
    padding: 20px;
    background-color: rgb(51, 167, 51);
    font-size: 25px;
}
.horraire{
    width: 20px;
    height: 30px;
}
td{
    padding: 25px;
}
p{
    font-size: 17px;
    text-align: center;
}
.pause{
    font-size: 20px;
    background-color: rgb(124, 120, 120);
}
